* {  
    font-family: 'Consolas', sans-serif;
}

body {
    background-color: rgba(153, 157, 158, 0.631);
}


h1 {
    font-size: 36px;
    color: black;
    text-align:center;
    background-color: rgba(237, 237, 231, 0.64);
}

ul {
    font-size: 100%;
    list-style-image: linear-gradient(to left bottom, red, blue);
}

   
p {
    font-size: 20px;
    color: rgb(61, 107, 148);
}

img {
    width: 200px;
    height: 150px;
    border: 1px solid rgb(34, 16, 16);
    object-fit: contain;
}

span{
    color:rgb(69, 30, 38);
    background-color: #68748c40;  
    font-weight:bold;
}

div h4 em {
    color: blue;
}

.noticia {
    background-color: rgba(183, 233, 183, 0.525);
    text-align: center;
    color: black;
}

h3 i {
    color: blueviolet;
}